<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwm.env.mybatis.dao.MessageInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mwm.env.mybatis.modal.MessageInfo" >
    <id column="MessageId" property="messageid" jdbcType="TINYINT" />
    <result column="Title" property="title" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="CHAR" />
    <result column="Createdate" property="createdate" jdbcType="BIGINT" />
    <result column="ModifyDate" property="modifydate" jdbcType="BIGINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.mwm.env.mybatis.modal.MessageInfo" extends="BaseResultMap" >
    <result column="Content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    MessageId, Title, Status, Createdate, ModifyDate
  </sql>
  <sql id="Blob_Column_List" >
    Content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.mwm.env.mybatis.modal.MessageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MessageInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mwm.env.mybatis.modal.MessageInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from MessageInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Byte" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from MessageInfo
    where MessageId = #{messageid,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte" >
    delete from MessageInfo
    where MessageId = #{messageid,jdbcType=TINYINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mwm.env.mybatis.modal.MessageInfoExample" >
    delete from MessageInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mwm.env.mybatis.modal.MessageInfo" >
    <selectKey resultType="java.lang.Byte" keyProperty="messageid" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into MessageInfo (Title, Status, Createdate, 
      ModifyDate, Content)
    values (#{title,jdbcType=VARCHAR}, #{status,jdbcType=CHAR}, #{createdate,jdbcType=BIGINT}, 
      #{modifydate,jdbcType=BIGINT}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mwm.env.mybatis.modal.MessageInfo" >
    <selectKey resultType="java.lang.Byte" keyProperty="messageid" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into MessageInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        Title,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="createdate != null" >
        Createdate,
      </if>
      <if test="modifydate != null" >
        ModifyDate,
      </if>
      <if test="content != null" >
        Content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=CHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        #{modifydate,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mwm.env.mybatis.modal.MessageInfoExample" resultType="java.lang.Integer" >
    select count(*) from MessageInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update MessageInfo
    <set >
      <if test="record.messageid != null" >
        MessageId = #{record.messageid,jdbcType=TINYINT},
      </if>
      <if test="record.title != null" >
        Title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        Status = #{record.status,jdbcType=CHAR},
      </if>
      <if test="record.createdate != null" >
        Createdate = #{record.createdate,jdbcType=BIGINT},
      </if>
      <if test="record.modifydate != null" >
        ModifyDate = #{record.modifydate,jdbcType=BIGINT},
      </if>
      <if test="record.content != null" >
        Content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update MessageInfo
    set MessageId = #{record.messageid,jdbcType=TINYINT},
      Title = #{record.title,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=CHAR},
      Createdate = #{record.createdate,jdbcType=BIGINT},
      ModifyDate = #{record.modifydate,jdbcType=BIGINT},
      Content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update MessageInfo
    set MessageId = #{record.messageid,jdbcType=TINYINT},
      Title = #{record.title,jdbcType=VARCHAR},
      Status = #{record.status,jdbcType=CHAR},
      Createdate = #{record.createdate,jdbcType=BIGINT},
      ModifyDate = #{record.modifydate,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mwm.env.mybatis.modal.MessageInfo" >
    update MessageInfo
    <set >
      <if test="title != null" >
        Title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=CHAR},
      </if>
      <if test="createdate != null" >
        Createdate = #{createdate,jdbcType=BIGINT},
      </if>
      <if test="modifydate != null" >
        ModifyDate = #{modifydate,jdbcType=BIGINT},
      </if>
      <if test="content != null" >
        Content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where MessageId = #{messageid,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.mwm.env.mybatis.modal.MessageInfo" >
    update MessageInfo
    set Title = #{title,jdbcType=VARCHAR},
      Status = #{status,jdbcType=CHAR},
      Createdate = #{createdate,jdbcType=BIGINT},
      ModifyDate = #{modifydate,jdbcType=BIGINT},
      Content = #{content,jdbcType=LONGVARCHAR}
    where MessageId = #{messageid,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mwm.env.mybatis.modal.MessageInfo" >
    update MessageInfo
    set Title = #{title,jdbcType=VARCHAR},
      Status = #{status,jdbcType=CHAR},
      Createdate = #{createdate,jdbcType=BIGINT},
      ModifyDate = #{modifydate,jdbcType=BIGINT}
    where MessageId = #{messageid,jdbcType=TINYINT}
  </update>
</mapper>