<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mwm.env.mybatis.dao.PersonalUserInfoMapper" >
  <resultMap id="BaseResultMap" type="com.mwm.env.mybatis.modal.PersonalUserInfo" >
    <id column="PersonalId" property="personalid" jdbcType="INTEGER" />
    <result column="UserId" property="userid" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="IDNumber" property="idnumber" jdbcType="CHAR" />
    <result column="IDUrl" property="idurl" jdbcType="VARCHAR" />
    <result column="Createdate" property="createdate" jdbcType="BIGINT" />
    <result column="IDBackUrl" property="idbackurl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    PersonalId, UserId, Name, IDNumber, IDUrl, Createdate, IDBackUrl
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from PersonalUserInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from PersonalUserInfo
    where PersonalId = #{personalid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from PersonalUserInfo
    where PersonalId = #{personalid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfoExample" >
    delete from PersonalUserInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="personalid" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into PersonalUserInfo (UserId, Name, IDNumber, 
      IDUrl, Createdate, IDBackUrl
      )
    values (#{userid,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{idnumber,jdbcType=CHAR}, 
      #{idurl,jdbcType=VARCHAR}, #{createdate,jdbcType=BIGINT}, #{idbackurl,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfo" >
    <selectKey resultType="java.lang.Integer" keyProperty="personalid" order="AFTER" >
      select last_insert_id()
    </selectKey>
    insert into PersonalUserInfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        UserId,
      </if>
      <if test="name != null" >
        Name,
      </if>
      <if test="idnumber != null" >
        IDNumber,
      </if>
      <if test="idurl != null" >
        IDUrl,
      </if>
      <if test="createdate != null" >
        Createdate,
      </if>
      <if test="idbackurl != null" >
        IDBackUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        #{idnumber,jdbcType=CHAR},
      </if>
      <if test="idurl != null" >
        #{idurl,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        #{createdate,jdbcType=BIGINT},
      </if>
      <if test="idbackurl != null" >
        #{idbackurl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfoExample" resultType="java.lang.Integer" >
    select count(*) from PersonalUserInfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update PersonalUserInfo
    <set >
      <if test="record.personalid != null" >
        PersonalId = #{record.personalid,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        UserId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        Name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.idnumber != null" >
        IDNumber = #{record.idnumber,jdbcType=CHAR},
      </if>
      <if test="record.idurl != null" >
        IDUrl = #{record.idurl,jdbcType=VARCHAR},
      </if>
      <if test="record.createdate != null" >
        Createdate = #{record.createdate,jdbcType=BIGINT},
      </if>
      <if test="record.idbackurl != null" >
        IDBackUrl = #{record.idbackurl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update PersonalUserInfo
    set PersonalId = #{record.personalid,jdbcType=INTEGER},
      UserId = #{record.userid,jdbcType=INTEGER},
      Name = #{record.name,jdbcType=VARCHAR},
      IDNumber = #{record.idnumber,jdbcType=CHAR},
      IDUrl = #{record.idurl,jdbcType=VARCHAR},
      Createdate = #{record.createdate,jdbcType=BIGINT},
      IDBackUrl = #{record.idbackurl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfo" >
    update PersonalUserInfo
    <set >
      <if test="userid != null" >
        UserId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        Name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="idnumber != null" >
        IDNumber = #{idnumber,jdbcType=CHAR},
      </if>
      <if test="idurl != null" >
        IDUrl = #{idurl,jdbcType=VARCHAR},
      </if>
      <if test="createdate != null" >
        Createdate = #{createdate,jdbcType=BIGINT},
      </if>
      <if test="idbackurl != null" >
        IDBackUrl = #{idbackurl,jdbcType=VARCHAR},
      </if>
    </set>
    where PersonalId = #{personalid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mwm.env.mybatis.modal.PersonalUserInfo" >
    update PersonalUserInfo
    set UserId = #{userid,jdbcType=INTEGER},
      Name = #{name,jdbcType=VARCHAR},
      IDNumber = #{idnumber,jdbcType=CHAR},
      IDUrl = #{idurl,jdbcType=VARCHAR},
      Createdate = #{createdate,jdbcType=BIGINT},
      IDBackUrl = #{idbackurl,jdbcType=VARCHAR}
    where PersonalId = #{personalid,jdbcType=INTEGER}
  </update>
</mapper>